@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer&display=swap');
/*@font-face {*/
/*font-family: "Noto Sans Khmer", sans-serif;*/
/*src: url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Khmer');*/
/*unicode-range: U+1780–U+17FF*/
/*}*/
body {
    background-color: #dedede;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 30px;
}
h1 {
    color: blue;
    text-align: center;
}

select, option{
    max-width: 300px;
    min-width: 150px;
    font-family: "Noto Sans Khmer", sans-serif;
}

select, button{
    display: grid;
    margin: 10px auto;
}

.inputs-section {
    display: grid;
    width: 70%;
    padding: 5% 10%;
    margin: auto;
}

.result-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 10px;
}

.result {
/*    border: 1px solid lightcoral;*/
    display: flex;
    gap: 10px;
/*    width: auto;*/
}

.value-item {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    background-color: lightgray;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
}

/* ===== with class suffix =====*/
.value-item.hidden {
    visibility: hidden;
}

.result.values {
    position: relative;
    padding-top: 10px;
}

.result.values::before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: lightgray;
    top: 0;
}

.value-item.values {
    background-color: lightsalmon !important;
    position: relative;
}


/*.result.stage-status {*/
/*    gap: 10px;*/
/*}*/

/*.value-item.stage-status {*/
/*    background-color: red !important;*/
/*    width: 130px !important;*/
/*    border: none !important;*/
/*}*/

@media(max-width: 450px) {
    .result-section {
        transform: rotate(-90deg);
        margin-top: 22%;
        margin-bottom: 22%;
        width: 100%;
/*        flex-grow: 0;*/
    }
}

/*@media(max-width: 450px) {*/
/*    .result-section {*/
/*        flex-direction: row;*/
/*    }*/
/*    .result {*/
/*        flex-direction: column-reverse;*/
/*        *//*        justify-content: space-evenly;*/
/*    }*/
/*    .value-item {*/
/*        transform: rotate(-90deg);*/
/*        flex-grow: 0;*/
/*    }*/


/*    .result.values {*/
/*        padding-left: 10px;*/
/*    }*/
/*    .result.values::before {*/
/*        content: '';*/
/*        height: 100%;*/
/*        width: 2px;*/
/*        position: absolute;*/
/*        background-color: blue;*/
/*        left: 0;*/
/*    }*/
/*    .result.stage-status {*/
/*        height: auto;*/
/*        color: red;*/
/*        *//*        width: 25px;*/
/*        display: flex !important;*/
/*        flex-direction: column-reverse !important;*/
/*        *//*        justify-content: flex-end;*/
/*        justify-content: space-evenly;*/
/*        *//*        gap: 10px !important;*/
/*    }*/
/*    *//*    .value-item.stage-status {*/
/*    *//*        flex-grow: 1;*/
/*    *//*        background-color: red !important;*/
/*    *//*        height: 25px !important;*/
/*    *//*        width: 130px !important;*/
/*    *//*        border: none !important;*/
/*    *//*    }*/
/*}*/

